
  <div class="container">

    <div class="row">
      <h1 class="px-3 mx-auto">Welcome to <strong>Nagano Cake</strong>!</h1>
    </div>

    <div class="row">

    <div class="col-md-8">

    <tbody>



        <tr>

            <td>

              <span>購入者</span>

            </td>

            <td>

              <span>注文商品</span>

            </td>

          </tr>



    </tbody>

    </div>

    </div>


  </div>
